{% extends "orders/layout.html" %}

{% block title %} About {% endblock %}



{% block body %}
<p>Hi hi hi, welcome to the World Wide Pizza Co. based in Glasgow, Scotland, we deliver pizza worldwide!!</p>
<p><b>Here's the process:</b> you make your order, we beam it to one of our 49000 food creation stations around the world (there may be one on your street!!). We cook the food via nuclear fusion and deliver via supersonic drone through any available open window in your home.</p>
<p><b>Here's the deal:</b> we're so sure of our capabilites if your food takes longer than a minute to arrive, it's <b id="abfree">ABSOLUTELY FREE</b> and that's a guarantee.</p>
<p>We pride our selves on our world famous "special pizza"; where we put every topping we have in stock on your pizza stacked a good 3 inches high. If you served it in Italy they'd spit in your face, but we know you want it. The special pizza can be ordered in the regular style or how they do it down Sicily way!</p>
{% endblock %}

