{% extends "orders/layout.html" %}

{% block title %} Menu {% endblock %}


{% block body %}


<div class="boxed">
{% for pizza in pizzas %}


<div class="boxed">
    <table class="menuitems">
    <h4 class="menuhead">{{pizza.pizzatype}} Pizzas</h4>
    <tr class="pizzarows">
        <th></th>
        <th>Small</th>
        <th>Large</th>
    </tr>
    <tr class="pizzarows">
        <td>Cheese</td>
        <td>{{pizza.sm_0t}}</td>
        <td>{{pizza.la_0t}}</td>
    </tr> 
    <tr class="pizzarows">
        <td>One Topping</td>
        <td>{{pizza.sm_1t}}</td>
        <td>{{pizza.la_1t}}</td>
    </tr> 
    <tr class="pizzarows">
        <td>Two Toppings</td>
        <td>{{pizza.sm_2t}}</td>
        <td>{{pizza.la_2t}}</td>
    </tr> 
    <tr class="pizzarows">
        <td>Three Toppings</td>
        <td>{{pizza.sm_3t}}</td>
        <td>{{pizza.la_3t}}</td>
    </tr>
    <tr class="Special">
        <td>Special</td>
        <td>{{pizza.sm_st}}</td>
        <td>{{pizza.la_st}}</td>
        </tr>
    </table>
    </div>
{% endfor %}

{% if username != "" %}
<a href="{% url 'pizzaorder' %}">Add Pizza To Order</a><br>
<a href="{% url 'specialpizzaorder' %}">Add Special Pizza To Order</a>
{% endif %}
</div> 

<div class="boxed">
<table class="menuitems">
    <h4 class="menuhead toppings">Toppings</h4>
    {% for topping in toppings %}
    <tr>
        <td>{{topping}}</td>
    </tr>       
    {% endfor %}
</table>
</div>

<div class="boxed">
<table class="menuitems">
    <h4 class="menuhead pastas">Pasta</h4>
    {% for pasta in pastas %}
    <tr>
        <td>{{pasta.name}}</td>
        <td>{{pasta.price}} 
            <form action="{% url 'addtocart' %}" method="post">
                {% csrf_token %} 
                <input type="radio" class="hide" name="type" value="pasta" checked="checked">
                <input type="radio" class="hide" name="pasta" value="{{pasta.name}}" checked="checked">
                <input type="submit" value="Add">
            </form> 
        </td>
    </tr>       
    {% endfor %}
</table>

</div>    
<div class="boxed">    
<table class="menuitems">
    <h4 class="menuhead salads">Salad</h4>
    {% for salad in salads %}
    <tr>
        <td>{{salad.name}}</td>
        <td>{{salad.price}}
            <form action="{% url 'addtocart' %}" method="post">
                {% csrf_token %} 
                <input type="radio" class="hide" name="type" value="salad" checked="checked">
                <input type="radio" class="hide" name="salad" value="{{salad.name}}" checked="checked">
                <input type="submit" value="Add">
            </form> 
        </td>
    </tr>       
    {% endfor %}
</table>

</div>    
<div class="boxed">    
<table class="menuitems">
    <h4 class="menuhead platters">Dinner Platters</h4>
    <tr>
        <th></th>
        <th>Small</th>
        <th>Large</th>
    </tr>
    {% for platter in platters %}
    <tr>
        <td>{{platter.name}}</td>
        <td>{{platter.small_price}}
            <form action="{% url 'addtocart' %}" method="post">
                {% csrf_token %} 
                <input type="radio" class="hide" name="type" value="platter" checked="checked">
                <input type="radio" class="hide" name="platter" value="{{platter.name}}" checked="checked">
                <input type="radio" class="hide" name="size" value="small" checked="checked">
                <input type="submit" value="Add">
            </form> 
        </td>
        <td>{{platter.large_price}}
            <form action="{% url 'addtocart' %}" method="post">
                {% csrf_token %} 
                <input type="radio" class="hide" name="type" value="platter" checked="checked">
                <input type="radio" class="hide" name="platter" value="{{platter.name}}" checked="checked">
                <input type="radio" class="hide" name="size" value="large" checked="checked">
                <input type="submit" value="Add">
            </form> 
        </td>
    </tr>       
    {% endfor %}
</table>
</div>

{% endblock %}